{% extends 'base.html' %}
{% load static %}


{% block content %}
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Book An Apointment</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="appointment-form">
            <form action="{% url 'appointment' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-name" class="form-control" placeholder="Your Name" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-phone" class="form-control" placeholder="Your Phone" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="email" name="your-email" class="form-control" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-address" class="form-control" placeholder="Your Address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-schedule" class="form-control">
                      <option value="First Choice Appoinment Time">First Choice Appoinment Time</option>
                      {% for time in time %}
                      <option value="{{ time.From }}{{ time.To }}">{{ time.From }} to {{ time.To }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-date" class="form-control">
                      <option value="Choose Your Date">Choose Your Date</option>
                      {% for day in days %}
                      <option value="{{day.day}}">{{day.day}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-30">
                      <select name="your-doctor" class="form-control">
                        {% for doctor in doctor %}
                        <option value="Your">Your Doctor:</option>
                        <option value="{{doctor.doctor_name}}">{{doctor.doctor_name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                <div class="col-12">
                  <div class="form-group mb-30">
                    <textarea name="your-message" class="form-control" placeholder="Your Message"></textarea>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">Booking Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
 {% endblock %}
